<header class="navbar navbar-expand-lg navbar-dark fixed-top shadow">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center " href="#">
            <img src="assets/images/ROI_IMALOGO_FB.png" alt="ROI Inmobiliaria" width="40" height="40" class="logo me-2">
            <span class="text-style">Sistema de Gestión - ROI Inmobiliaria</span>
        </a>
        <div class="d-flex align-items-center">
            <span class="text-light me-3">Bienvenido, <strong>Alan</strong></span>
            <button (click)="logout();" class="btn btn-outline-light btn-sm">Cerrar sesión</button>
        </div>
    </div>
</header>