@import '../../../../styles.scss';

header {
  background-color: $dark-color;
  height: $header-height;
  display: flex;
  align-items: center;

  .logo {
    height: 60px;
    width: auto;
    border-radius: 50%;
    border: 2px solid $secondary-color;
  }

  .navbar-brand {
    color: $light-color;
    font-family: $font-family;
    font-weight: 500;
    font-size: 1.25rem;

    &:hover {
      color: $secondary-color;
    }
  }

  .btn {
    font-family: $font-family;
    &:hover {
      background-color: $secondary-color;
      color: $light-color;
    }
  }
}