<div class="container my-5 p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="" class="btn btn-outline-secondary">Regresar</a>
    </div>
    <h1 class="h3 text-muted text-center fw-bold mb-3">Editar perfil</h1>
    <form [formGroup]="updateProfileForm" (submit)="updateProfile();">
        <div class="mb-4 text-center">
            <img src="assets/fake/advisor.jpeg" alt="Imagen de perfil" class="img-thumbnail rounded-circle mb-3"
                style="width: 125px; height: 125px; object-fit: cover;">
            <div>
                <label for="image" class="form-label">Cargar nueva imagen</label>
                <input type="file" id="image" class="form-control" accept="image/*">
            </div>
        </div>
        <div class="mb-1">
            <label for="name" class="form-label">Nombre</label>
            <input formControlName="name" type="text" id="name" class="form-control" placeholder="Ingrese su nombre"
                required>
        </div>
        <div class="mb-1">
            <label for="surname" class="form-label">Apellido</label>
            <input formControlName="surname" type="text" id="surname" class="form-control"
                placeholder="Ingrese su apellido" required>
        </div>
        <div class="mb-1">
            <label for="phone" class="form-label">Teléfono</label>
            <input formControlName="phone" type="tel" id="phone" class="form-control" placeholder="Ingrese su teléfono"
                pattern="[0-9]{10}" title="Debe tener 10 dígitos" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control" placeholder="Ingrese su email"
                required>
        </div>
        <div class="d-flex justify-content-end">
            <button type="reset" class="btn btn-secondary me-2">Restablecer</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</div>