<div class="container my-5 p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a routerLink="/dashboard" class="btn btn-outline-secondary">Regresar al dashboard</a>
        <div class="btn-group">
            <button [routerLink]="['/update-profile']" class="btn btn-primary">Editar perfil</button>
            <button routerLink="/change-password" class="btn btn-warning">Cambiar contraseña</button>
            <button (click)="deleteProfilePicture();" class="btn btn-danger">Eliminar imagen</button>
        </div>
    </div>
    <h1 class="h3 text-muted text-center fw-bold mb-3">Mi perfil</h1>
    <div class="card mx-auto shadow-sm">
        <div *ngIf="user" class="card-body d-flex flex-column align-items-center text-center p-3">
            <div class="mb-3">
                <img src="{{ imageUrl }}" alt="Perfil"
                    class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
            </div>
            <h2 class="h5 mb-3">{{user.name}} {{user.surname}}</h2>
            <div class="w-100">
                <div class="row">
                    <div class="col-12 mb-1">
                        <label class="form-label fw-bold">Teléfono</label>
                        <p class="form-control-plaintext">{{ user.phone }}</p>
                    </div>
                    <div class="col-12 mb-1">
                        <label class="form-label fw-bold">Email</label>
                        <p class="form-control-plaintext">{{ user.email }}</p>
                    </div>
                    <div class="col-12 mb-1">
                        <label class="form-label fw-bold">Tipo de Usuario</label>
                        <p class="form-control-plaintext">{{ user.role }}</p>
                    </div>
                    <div class="col-12 mb-1">
                        <label class="form-label fw-bold">Administrador a Cargo</label>
                        <p *ngIf="admin" class="form-control-plaintext">{{admin.name}} {{admin.surname}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>