<div class="container my-5 p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="" class="btn btn-outline-secondary">Regresar al listado</a>
        <div class="btn-group">
            <button class="btn btn-primary">Editar propiedad</button>
            <button class="btn btn-danger">Eliminar propiedad</button>
            <button class="btn btn-success">Registrar transacción</button>
        </div>
    </div>
    <h1 class="h3 text-muted text-center fw-bold mb-3">Ver Propiedad</h1>
    <div class="row mb-4">
        <div class="row g-4 mb-4">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/1.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/2.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/3.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/4.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/5.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <div class="square">
                        <img src="assets/fake/property1/6.jpeg"
                            alt="Imagen de la propiedad" class="img-fluid rounded">
                    </div>
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-image"
                        title="Eliminar imagen">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <!-- FORMULARIO UPLOAD IMAGES -->
            <div class="col-6 col-md-4 col-lg-3">
                <div class="image-container position-relative">
                    <form id="uploadForm" class="d-flex flex-column align-items-center justify-content-center">
                        <!-- Input file oculto -->
                        <label for="imageUpload" class="upload-label">
                            <i class="bi bi-cloud-upload-fill upload-icon"></i>
                            <span class="d-block mt-2">Subir Imágenes</span>
                        </label>
                        <input type="file" id="imageUpload" class="d-none" multiple>
                        <!-- Botón para cargar -->
                        <button type="submit" class="btn btn-primary btn-sm mt-3">Cargar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h1 class="text-primary">¡Tu hogar de ensueño te espera en Residencial Ámbar! </h1>
            <p class="text-muted">Descubre la comodidad y elegancia en esta casa de ensueño ubicada en el exclusivo fraccionamiento "Residencial Ámbar", en la Zona Norte poniente de Tuxtla Gutiérrez.</p>
            <p><strong>Tipo de propiedad:</strong> Casa</p>
            <p><strong>Dimensiones del terreno:</strong>15 x 12 m</p>
            <p><strong>Clasificación del área social:</strong> Residencial</p>
        </div>
    </div>
    <div class="mb-4">
        <h2 class="h5">Oferta</h2>
        <p><strong>Tipo de trato:</strong> Venta</p>
        <p><strong>Precio de venta:</strong> $2500000 MXN</p>
        <!-- <p><strong>Periodicidad del pago:</strong> Mensual</p> -->
        <!-- <p><strong>Precio de renta:</strong> $15,000 MXN</p> -->
    </div>
    <div class="mb-4">
        <h2 class="h5">Ubicación</h2>
        <p><strong>Estado:</strong> Chiapas</p>
        <p><strong>Ciudad:</strong> Tuxtla Gutiérez</p>
        <p><strong>Código postal:</strong> 29030</p>
        <p><strong>Asentamiento:</strong> Residencial Ámbar</p>
        <p><strong>Referencias:</strong> Cerca de Plaza del Sol</p>
    </div>
    <div class="mb-4">
        <h2 class="h5">Características del Inmueble</h2>
        <p><strong>Metros de construcción:</strong> 165 m<sup>2</sup></p>
        <p><strong>Número de habitaciones:</strong> 3</p>
        <p><strong>Número de baños:</strong> 4</p>
        <p><strong>Capacidad de la cisterna:</strong> 5000 L</p>
        <p><strong>Descripción del garage:</strong>Techado para 2 autos</p>
        <p><strong>Notas adicionales:</strong> Con jardín lateral amplio.</p>
    </div>
    <div class="mb-4">
        <h2 class="h5">Comisión</h2>
        <p><strong>Porcentaje sobre venta:</strong> 5%</p>
<!--         <p><strong>Monto sobre venta:</strong> $60,000 MXN</p>
        <p><strong>Porcentaje sobre renta:</strong> 10%</p>
        <p><strong>Monto sobre renta:</strong> $1,500 MXN</p> -->
        <p><strong>Notas:</strong> Comisión negociada según contrato.</p>
    </div>
</div>