<div class="container my-5 p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a [routerLink]="['/dashboard']" class="btn btn-outline-secondary">Regresar al dashboard</a>
    </div>
    <h1 class="h3 text-muted text-center fw-bold mb-3">Mis Transacciones</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-primary" id="toggleFilters"><i class="bi bi-funnel"></i> Filtrar y Ordenar</button>
    </div>
    <!-- Menú de Filtros Lateral (Oculto por defecto) -->
    <div id="filterMenu" class="offcanvas offcanvas-end" tabindex="-1">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Filtrar y Ordenar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row">
                <div class="mb-2">
                    <label for="ordenarPor" class="form-label">Ordenar por:</label>
                    <select id="ordenarPor" class="form-select">
                        <option value="">Seleccionar...</option>
                        <option value="">Mayor monto</option>
                        <option value="">Menor monto</option>
                        <option value="">Mayor comisión</option>
                        <option value="">Menor comisión</option>
                        <option value="">Fecha reciente</option>
                        <option value="">Fecha antigüa</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="oferta" class="form-label">Oferta</label>
                    <select id="oferta" class="form-select">
                        <option selected>Seleccionar...</option>
                        <option value="venta">Venta</option>
                        <option value="renta">Renta</option>
                        <option value="ventaRenta">Venta o Renta</option>
                    </select>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Aplicar</button>
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <table *ngIf="transactions" class="table align-middle table-hover table-striped">
            <thead class="table-light">
                <tr>
                    <th scope="col">Tipo de trato</th>
                    <th scope="col">Monto de la operación</th>
                    <th scope="col">Comisión</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{transaction.deal}}</td>
                    <td>
                        {{ formatCurrencyMXN(transaction.amount) }}
                        <span *ngIf="transaction.deal === 'Renta'">/ {{transaction.payment_periodicity}}</span>
                    </td>
                    <td>{{ formatCurrencyMXN(transaction.commission) }}</td>
                    <td>{{transaction.date.substr(0,10)}}</td>
                    <td>
                        <div class="btn-group">
                            <button [routerLink]="['/view-transaction', transaction._id]" class="btn btn-sm btn-info btn-sm">Ver detalles</button>
                            <button [routerLink]="['/update-transaction', transaction._id]" class="btn btn-sm btn-primary btn-sm">Editar</button>
                            <button (click)="deleteTransaction(transaction._id);" class="btn btn-sm btn-danger btn-sm">Eliminar</button>
                            <button [routerLink]="['/view-property', transaction.fk_property]" class="btn btn-sm btn-warning btn-sm">Ver Propiedad</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    const toggleFilters = document.getElementById('toggleFilters');
    const filterMenu = document.getElementById('filterMenu');
    toggleFilters.addEventListener('click', () => {
        const offcanvas = new bootstrap.Offcanvas(filterMenu);
        offcanvas.show();
    });
</script>